@import "../css/animations.css";

/** Alert */
.alert {
  background: #ffffff;
  display: grid;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 48px;
  font-family: "Bebas Neue", sans-serif;
  z-index: 2;
  opacity: 0;
}

.alert.shown {
  animation: fade-in 250ms forwards;
}

.alert.shown p {
  animation: grow-in 250ms forwards;
}

.alert.hidden {
  animation: fade-out 250ms forwards;
}

.alert.hidden p {
  animation: grow-out 250ms forwards;
}

.alert p {
  align-self: center;
}
