.board {
  margin: auto;
  min-width: calc(
    (2 * var(--long-field-size) * var(--square-size)) + (4 * var(--square-size))
  );

  --short-field-size: 5;
  --long-field-size: 8;
  --square-size: 18px;
}

footer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 40px 1fr 1fr;
  justify-items: start;
}

footer nav {
  font-size: 16px;
  font-family: "Bebas Neue", sans-serif;
  color: var(--white);
  text-shadow: var(--h3-shadow);
  animation-iteration-count: 1;
  animation-duration: 500ms;
  display: block;
}

footer nav a {
  color: var(--white);
}

@media (min-width: 320px) {
  .board {
    --square-size: 18px;
  }
}

@media (min-width: 600px) {
  .board {
    --square-size: 30px;
  }
}

@media (min-width: 960px) {
  .board {
    --square-size: 40px;
  }
}
