@import "../css/colors.css";
@import "../css/typography.css";

/** Counter styles */
.counter {
  font-size: var(--h3-size);
  font-family: "Bebas Neue", sans-serif;
  color: var(--white);
  text-shadow: var(--h3-shadow);
}
