@import "../css/colors.css";

/** Counter styles */
footer {
  display: grid;
  grid-auto-columns: max-content;
  justify-content: end;
  justify-items: end;
}
.counter {
  font-size: 36px;
  font-family: "Bebas Neue", sans-serif;
  color: var(--white);
  text-shadow: 3px 3px 0 var(--shadow);
}
