@import "../css/animations.css";

.ghost {
  height: 40px;
  width: 40px;
  font-size: 20px;
  animation: rapid-fade-out 2s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
