/** Hero styles */
.hero--0 svg path {
  fill: var(--sky-blue-crayola);
}

.hero--1 svg path {
  fill: var(--inchworm);
}

.hero--2 svg path {
  fill: var(--orange-pantone);
}

.hero--3 svg path {
  fill: var(--violet-blue-crayola);
}
