@import "../css/animations.css";

/** Hero styles */
.hero path {
  stroke: var(--shadow);
  stroke-width: 5px;
  transform: scale(0.7);
  transform-origin: center;
}

.hero.grow-in svg {
  animation: grow-in cubic-bezier(0.175, 0.885, 0.32, 1.275) 400ms;
}

.hero--0 svg path {
  fill: var(--sky-blue-crayola);
}

.hero--1 svg path {
  fill: var(--inchworm);
}

.hero--2 svg path {
  fill: var(--orange-pantone);
}

.hero--3 svg path {
  fill: var(--violet-blue-crayola);
}
