/** Hero styles */

.hero {
  width: 40px;
  height: 40px;
  grid-column: var(--hero-x);
  grid-row: var(--hero-y);
}

.hero svg {
  width: 28px;
  height: 30px;
  margin: 4px;
}

.hero--up svg {
  transform: rotate(0deg);
}

.hero--right svg {
  transform: rotate(90deg);
}

.hero--down svg {
  transform: rotate(180deg);
}

.hero--left svg {
  transform: rotate(270deg);
}

.hero--0 svg path {
  fill: var(--sky-blue-crayola);
}

.hero--1 svg path {
  fill: var(--inchworm);
}

.hero--2 svg path {
  fill: var(--orange-pantone);
}

.hero--3 svg path {
  fill: var(--violet-blue-crayola);
}
