@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/** App styles */
html,
body {
  height: 100%;
  background: #d6d1e5;
}

#root {
  height: 100%;
  display: grid;
}

.App {
  margin: auto;
}

main {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(3, min-content);
}

/** Field styles */
.field {
  background: #f8f2f4;
  display: grid;
  width: 160px;
  height: 160px;
  grid-gap: 0;
}

.up-field,
.down-field {
  grid-template-columns: repeat(4, 40px);
  height: 200px;
}

.left-field,
.right-field {
  grid-template-rows: repeat(4, 40px);
  width: 320px;
}

.up-field {
  grid-column: 2;
  grid-row: 1;
}
.left-field {
  grid-column: 1;
  grid-row: 2;
}
.right-field {
  grid-column: 3;
  grid-row: 2;
}
.down-field {
  grid-column: 2;
  grid-row: 3;
}

/** Queue styles */
.queue {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.up-field .queue {
  flex-direction: column-reverse;
  width: 40px;
}

.left-field .queue {
  flex-direction: row-reverse;
  height: 40px;
}

.right-field .queue {
  flex-direction: row;
  height: 40px;
}

.down-field .queue {
  flex-direction: column;
  width: 40px;
}

/** Monster styles */
.monster span {
  display: block;
  height: 40px;
  width: 40px;
}

.monster.color-0 path {
  fill: #3f84e5;
}

.monster.color-1 path {
  fill: #b20d30;
}

.monster.color-2 path {
  fill: #fcba04;
}

.monster.color-3 path {
  fill: #050517;
}

/** Homebase styles */
.homebase {
  background: #f0e2e7;
  grid-column: 2;
  grid-row: 2;
}

/** Hero styles */
.hero--0 svg path {
  fill: #3f84e5;
}

.hero--1 svg path {
  fill: #b20d30;
}

.hero--2 svg path {
  fill: #fcba04;
}

.hero--3 svg path {
  fill: #050517;
}

/** Scoreboard styles */
.scoreboard {
  font-size: 48px;
  font-family: "Bebas Neue", cursive;
  color: #3f84e5;
}

/** Counter styles */
footer {
  display: grid;
  grid-auto-columns: max-content;
  justify-content: end;
  justify-items: end;
}
.counter {
  font-size: 36px;
  font-family: "Bebas Neue", cursive;
  color: #b20d30;
}

button {
  background: none;
  cursor: pointer;
  border: solid 2px #050517;
  border-radius: 4px;
  font-size: 24px;
  font-family: "Bebas Neue", cursive;
  transition: 300ms all;
}

button:hover {
  background-color: #fcba04;
}

/** Menu */
.main-menu .selected {
  text-decoration: underline;
  font-weight: bold;
}
