body {
  background: #545e75;
}

.home-base {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: repeat(4, 40px);
  gap: 1px;
}

.home-base__square {
  background-color: #f7f7ff;
}

.player {
  width: 40px;
  height: 40px;
}

.player svg path {
  fill: #f00;
}

.player--up {
  transform: rotate(0deg);
}

.player--right {
  transform: rotate(90deg);
}

.player--down {
  transform: rotate(180deg);
}

.player--left {
  transform: rotate(270deg);
}
