<div class="home-base" id="js-home-base">
	<div class="home-base__square">
		<div class="player player--a player--east" id="js-player1">
			<!-- The `player--a` bit indicates his color; could be `...b` or `...c` or whatever -->
			<!-- The `player--north` bit indicates his orientation; could be `...north` or `...south` or whatever -->
      <svg>
		    <path xmlns="http://www.w3.org/2000/svg" d="m5,35l14,-30l14,30l-27,0z" />
	  </svg>
		</div>
	</div>
	<div class="home-base__square"></div>
	<div class="home-base__square"></div>
	<div class="home-base__square"></div>

	<div class="home-base__square"></div>
	<div class="home-base__square"></div>
	<div class="home-base__square"></div>
	<div class="home-base__square"></div>

	<div class="home-base__square"></div>
	<div class="home-base__square"></div>
	<div class="home-base__square"></div>
	<div class="home-base__square"></div>

	<div class="home-base__square"></div>
	<div class="home-base__square"></div>
	<div class="home-base__square"></div>
	<div class="home-base__square"></div>
</div>
